@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 3;
    padding: 3;
    font-family: sans-serif;
    font-size: 15px;
}
body{
    background-color: black;
}
.header{
    background-color: b;
    display: flex;
    justify-content: flex-end;
    align-items: 85px;
    padding: 5px 10%;
}
.header .logo{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}
.header .logo{
    cursor: pointer;
    order: 3;
    margin-left: auto;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0,3s;
}
.header nav{
    order: 1;    
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.header .nav-links li:nth-child(1){
    padding: 0 20px 0 0;   
}
.header .nav-links li:hover{
    transform: scale(1.2);
}
.header .nav-links a{
    font-size: 100%;
    color: rgb(14, 147, 65);
    text-decoration: none;
}
.header .nav-links li:hover{
    color: rgb(150, 199, 77);
}
.header .btn{
    order: 2;
}
.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: rgb(191, 118, 118);
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .btn button:hover{
    background: rgb(136, 30, 30);
    color: rgb(186, 82, 170);
    transform-box: scale(1.2);
}
.footer-link{
    width: 25%;
    padding: 0 15px;
}
